.design-system-container-all {
  background-image: url(../assets/imgs/dark-bg.jpg);
  background-repeat: repeat-y;
  padding: 100px;
  display: flex;
  gap: 100px;
  flex-direction: column;
  min-height: 100vh;
  width: 1700px;
}
.component-container {
}
/* Buttons Container */
.component-container-1 {
  width: fit-content;
  display: grid;
  gap: 20px;
  grid-template: auto auto auto auto / auto auto auto auto;
}

/* Variables to be reused (colors, font sizes, ...etc) */
:root {
  /* Colors */
  --brzkr-light_red: #f94747;
  --brzkr-red: #bb0f0f;
  --brzkr-red_50pc: rgba(187, 15, 15, 0.5);
  --brzkr-white: #fbf6f6;
  --brzkr-black: #1c1c1c;
  --brzkr-gray_1: #0d0d0d;
  --brzkr-gray_2: #545454;
  --brzkr-gray_3: #a0a0a0;
  --brzkr-light_gray: #efefef;
  --brzkr-error_orange: #ffae12;
  --brzkr-success_green: #00d62f;
  --brzkr-black_40pc: rgba(28, 28, 28, 0.4);
  --brzkr-black_75pc: rgba(28, 28, 28, 0.75);

  /* Font sizes */
  --ts-1_16: 1rem;
  --ts-2_21: 1.3125rem;
  --ts-3_27: 1.6875rem;
  --ts-4_36: 2.25rem;
  --ts-5_47: 2.9375rem;
  --ts-6_61: 3.8125rem;
  --ts-7_80: 5rem;

  /* Line heights */
  --t-tall: 170%;
  --t-short: 110%;

  /* Shadows / Effects */
  --testimonials-shadow: 8px 16px 1px 0px rgba(255, 255, 255, 0.2);
}

/* Small objects / barriers */
.vertical-barrier {
  width: 3px;
  background: var(--brzkr-black);
  border-radius: 100px;
}

/* Buttons + all their styles */
.berserker-btn {
  height: fit-content;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--ts-3_27);
  line-height: var(--t-short);
  /* display: grid;
  place-items: center; */
  padding: 5px 10px; /* Minimum padding, Changed by more specific targeting for specific sections*/
}
.berserker-btn:hover {
  cursor: pointer;
}
.w-b {
  background: var(--brzkr-white);
  color: var(--brzkr-black);
  fill: var(--brzkr-black);
}
.w-b:hover {
  background: var(--brzkr-black);
  color: var(--brzkr-white);
}
.w-b:hover .btn-arrow {
  fill: var(--brzkr-white);
}
.b-w {
  background: var(--brzkr-black);
  color: var(--brzkr-white);
  fill: var(--brzkr-white);
}
.g-w {
  background: var(--brzkr-gray_2);
  color: var(--brzkr-white);
  fill: var(--brzkr-white);
}
.lr-w {
  background: var(--brzkr-light_red);
  color: var(--brzkr-white);
  fill: var(--brzkr-white);
}
.b-w:hover,
.g-w:hover,
.lr-w:hover {
  background: var(--brzkr-white);
  color: var(--brzkr-black);
}
.b-w:hover .btn-arrow,
.g-w:hover .btn-arrow,
.lr-w:hover .btn-arrow {
  fill: var(--brzkr-black);
}
.btn-arrow {
  height: fit-content;
  width: fit-content;
  margin-left: 10px;
  height: 24px; /* or 24 depending on the button size*/
  width: 12px;
  fill: var(--brzkr-white);
}
.btn-arrow g {
  height: 100%; /* or 24 depending on the button size*/
}
.b-w > .btn-arrow,
.lr-w > .btn-arrow,
.g-w > .btn-arrow {
  fill: var(--brzkr-white);
}
.w-b > .btn-arrow {
  fill: var(--brzkr-black);
}
.white-shadow {
  box-shadow: 2px 2px 0px 0px rgba(255, 255, 255, 0.7);
}
/* Animations to be added later */

/* Links */
.link,
.fancy-link-button {
  color: var(--brzkr-white);
}
.link:hover,
.fancy-link-button:hover {
  cursor: pointer;
  color: var(--brzkr-gray_2);
}
.fancy-link-button {
  background: transparent;
  padding-inline: 0px;
  border-bottom: 2px solid transparent;
}
.fancy-link-button.on {
  border-bottom: 2px solid var(--brzkr-light_red);
}

.component-container-2 {
  display: flex;
  gap: 20px;
}

/* Sign Up form */
.sign-up-form-container {
  display: flex;
  gap: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 1px solid var(--brzkr-black);
  background: var(--brzkr-light_gray, #efefef);
  padding: 40px;
  max-width: 573px;
}
.sign-up-form-selection {
  display: flex;
  gap: 10px;
}
.sign-up-form-selection .fancy-link-button {
  color: var(--brzkr-black);
}
.sign-up-form-selection .fancy-link-button:hover {
  color: var(--brzkr-gray_3);
}

.sign-up-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  width: 100%;
}
.sign-up-inputs-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 12px;
}
.sign-up-input {
  font-size: var(--ts-1_16);
  display: flex;
  padding: 8px 10px;
  align-items: start;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid var(--brzkr-gray_3);
  width: 100%;
}
.sign-up-form > button {
  font-size: var(--ts-3_27);
  line-height: var(--t-shotrt);
  padding: 10px 20px;
  border-radius: 3px;
}
.input-and-error-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 10px;
}
.input-and-error-container .error-state {
  border: 2px solid var(--brzkr-error_orange);
}
.input-and-error-container .input-error-message {
  color: var(--brzkr-error_orange);
}

/* Services section */
.services-section {
  width: 1500px;
  color: var(--brzkr-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.services-header {
  text-align: center;
}
.services-header h1 {
  font-size: var(--ts-5_47);
  line-height: var(--t-short);
  margin-bottom: 10px;
}
.services-header h3 {
  font-size: var(--ts-3_27);
  line-height: var(--t-short);
}
.services-slider {
  width: 1220px;
  height: 370px;
  position: relative;
  display: flex;
}
.service {
  position: absolute;
  top: 0;
  left: 0;
  width: 340px;
  line-height: var(--t-short);
  opacity: 0;
  transition: all 0.3s linear;
  color: var(--brzkr-white);
  line-height: var(--t-short);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.services-slider .slide {
  opacity: 0;
  z-index: -10;
}
.services-slider .activeSlide {
  opacity: 1;
  transform: translateX(calc(100% + 100px));
}
.services-slider .lastSlide {
  opacity: 1;
}
.services-slider .lastLastSlide {
  transform: translateX(calc(-100% - 100px));
}
.services-slider .nextSlide {
  opacity: 1;
  transform: translateX(calc(200% + 200px));
}
.services-slider .nextNextSlide {
  transform: translateX(calc(300% + 300px));
}

.service-img {
  height: 150px;
}
.service-name {
  width: auto;
  font-size: var(--ts-5_47);
  line-height: var(--t-short);
  margin-top: 10px;
  margin-bottom: 20px;
}
.service-description {
  font-size: var(--ts-3_27);
  line-height: var(--t-tall);
}
/* Services Navigation */
.services-navigation {
  width: 100%;
  display: flex;
  justify-content: center;
}
.services-section button {
  background-color: transparent;
  fill: var(--brzkr-white);
  z-index: 1;
}
.services-section button:hover {
  cursor: pointer;
  fill: var(--brzkr-gray_2);
}

.services-container {
  display: flex;
  justify-content: center;
  gap: 100px;
}

/* Testimonials Section */
.testimonials-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  color: var(--brzkr-white);
}
.testimonials-header {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.testimonials-header h1 {
  font-size: var(--ts-5_47);
  line-height: var(--t-short);
}
.testimonials-header h3 {
  font-size: var(--ts-3_27);
  line-height: var(--t-short);
}
.testimonials-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.dot-indicator circle {
  fill: var(--brzkr-gray_2);
}
.dot-indicator .active {
  fill: var(--brzkr-white);
}
.testimonials-section button {
  background-color: transparent;
  fill: var(--brzkr-white);
  z-index: 1;
}
.testimonials-section button:hover {
  cursor: pointer;
  fill: var(--brzkr-gray_2);
}
.testimonial-img {
  width: 580px;
  height: 500px;
}
.testimonial-quote {
  line-height: var(--t-tall);
  font-size: var(--ts-2_21);
}
.testimonial-name {
  line-height: var(--t-tall);
  font-size: var(--ts-3_27);
}
/* testimonials sliding */
.testimonial {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  background-color: var(--brzkr-black);
  width: 600px;
  box-shadow: var(--testimonials-shadow);
  transition: all 0.3s linear;
  /* height: 694px; */
}
.testimonials-slider {
  display: flex;
  flex-direction: row;
  gap: 120px;
  height: 694px;
}
.testimonials-slider .testimonial {
  opacity: 0;
}
.testimonials-slider .activeTestimonial {
  transform: translateX(calc(-100% - 120px));
  opacity: 1;
}
.testimonials-slider .lastTestimonial {
  opacity: 0;
}
.testimonials-slider .nextTestimonial {
  opacity: 1;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1500px;
  background-color: var(--brzkr-black_40pc);
}
.navbar-logo {
  background-image: url("../assets/imgs/logo.png");
  aspect-ratio: 231/98;
  height: 98px;
}
.navbar-links {
  display: flex;
  align-items: center;
  gap: 80px;
  font-size: var(--ts-3_27);
}
.signup-button Button {
  padding: 10px 20px;
}
.mobile-navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 40px;
  max-width: 728px;
}
.mobile-navbar button {
  width: 100%;
}
