/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
body {
  min-height: 100vh;
  font-family: "Oswald", Impact, sans-serif;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
ol,
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}

/* CUSTOM PROJECT VARIABLES */
:root {
  /* --section-margin: 40px; */
}

/* REUSABLE CLASSES AND SUCH */
.red {
  /* color: var(--style-red); */
}
.bold {
  font-weight: bold;
}

/* MEDIA QUERIES FOR RESPONSIVENESS */
/* STARTING FROM 340PX */
.container-all {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 479px) {
  .section {
    max-width: 438px;
  }
}
@media screen and (min-width: 480px) and (max-width: 727px) {
  .section {
    max-width: 438px;
  }
}
@media screen and (min-width: 728px) and (max-width: 991px) {
  .section {
    max-width: 438px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .section {
    max-width: 727px;
  }
}

@media screen and (max-width: 1200px) and (max-width: 1439px) {
  .section {
    max-width: 950px;
  }
}

@media screen and (min-width: 1440px) and (max-width: 1919px) {
  .section {
    max-width: 1400px;
  }
}

@media screen and (min-width: 1920px) {
  .section {
    max-width: 1400px;
  }
}
